@mixin fontagon-contents($value)
  content: $value

@font-face
  font-family: "fontagon-icons"
  src: url("fontagon-icons.eot?30b8a8b02ab14bcd88d1591e29f67ee3?#iefix") format("embedded-opentype")
  src: url("fontagon-icons.woff2?30b8a8b02ab14bcd88d1591e29f67ee3") format("woff2")
  src: url("fontagon-icons.woff?30b8a8b02ab14bcd88d1591e29f67ee3") format("woff")

.fontagon-icons, .nt-icons
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  display: inline-flex
  align-items: center
  justify-content: center
  vertical-align: middle


.nt-icons
  width: 1em
  height: 1em
  position: relative
  fill: currentColor


.fontagon-icons
  font-family: 'fontagon-icons'
  font-weight: normal
  font-style: normal
  display: inline-block
  line-height: 1
  text-transform: none
  letter-spacing: normal
  word-wrap: normal
  white-space: nowrap
  direction: ltr

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale

  /* Support for IE. */
  font-feature-settings: 'liga'


.nt-a-1-logo-symbol
  &:before
    @include fontagon-contents("\f101")
.nt-a-2-logo
  &:before
    @include fontagon-contents("\f102")
.nt-a-3-logo-full
  &:before
    @include fontagon-contents("\f103")
.nt-a-4-new-logo-symbol
  &:before
    @include fontagon-contents("\f104")
.nt-a-5-new-logo-full
  &:before
    @include fontagon-contents("\f105")
